*.iml
.idea
dist
node_modules
build-artifacts
.DS_Store

# These make Shannon's and Eman's lives easier. Nobody else needs to worry about them.
run-s3-image
run-s3-image-interactively
node_modules.local
